.folderSite{
    box-sizing: border-box;
    height: 100%;
    width: 40%;
    background: #3E3E3E;
    border: solid 2px #858585;
    border-radius: 15px;
    scrollbar-width: thin; /* Ustawienie grubości paska przewijania */
    scrollbar-color: #ccc transparent; /* Kolor paska przewijania */;

}
.folderBar{
    width: 100%;
    height: 6%;
    border-radius: 15px 15px 5px 5px;
    background: #494949;
    border-bottom: solid 2px #858585;
    display: flex;
    min-height: 35px;
}
.folderName{
    box-sizing: border-box;
    margin-left: 4%;
    width: 60%;
    height: 94%;
    display: flex;
    padding: 2% 0 0 2%;
    color: aliceblue;
    font-size: 150%;
}
.folderButtons{
    margin-left: 2%;
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: right;
}
.folders{
    box-sizing: border-box;
    height: 94%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow-x: auto;
}
.folders {
    margin-bottom: 10px
}
.folders::-webkit-scrollbar {
    width: 5px;
    height: 5px; /* Szerokość paska przewijania */
}

.folders::-webkit-scrollbar-thumb {
    background-color: #818181af; /* Kolor paska przewijania */
    border-radius: 5px; /* Zaokrąglenie paska przewijania */
}
.folders::-webkit-scrollbar-thumb:hover {
    background-color: #aaa; /* Kolor paska przewijania po najechaniu myszką */
    padding-bottom: 10px
}
@media only screen and (max-width: 800px) {
    .folderSite{
        box-sizing: border-box;
        height: 45%;
        width: 100%;
        background: #3E3E3E;
        border: solid 2px #858585;
        border-radius: 15px
    }
    .folderBar{
        width: 100%;
        height: 10%;
        min-height: 35px;
        border-radius: 15px 15px 5px 5px;
        background: #494949;
        border-bottom: solid 2px #858585;
        display: flex;
    }
    .folderName{
        margin-left: 4%;
        box-sizing: border-box;
        width: 60%;
        height: 100%;
        display: flex;
        padding: 1% 0;
        color: aliceblue;
        font-size: 150%;
    }
}
