.iconsFolderButtons{
    width: 25px;
    height: 25px;
    filter: invert(100);
}
.folderButton{
    align-items: center;
    justify-items: center;
    display: flex;
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 0 8px 0 8px;
    border: 0;
    background: 000000;
}