:root {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    --bg_color_dark_react: #282c34;
    --bg_color_dark_my: #2B2B2B;
    --ft_color_dark: #D0D0D0;
    --content_color_dark1: #363636;
    --content_color_dark2: #3C3C3C;
    --content_color_dark3: #3E3E3E;
    --frame_color_dark: #858585;
    --curve_high: 15px;
    --curve_mid: 10px;
    --curve_low: 5px;

    --bar-color:#363636;
    --pages-color:#2B2B2B;
    --tab-font-color:rgba(240, 248, 255, 0.575);
    --tab-hover-color:#494949;
    --file-list-color:#3E3E3E;
    
    --folder-font-color:#eeeded;

    --reverse-invert: invert(100);
}
[data-theme="light"] {
    --bar-color:#b9b9b9;
    --reverse-invert: none;
    --bar-color: #FFFFFF; 
    --pages-color: #F0F0F0; 
    --tab-font-color: #000000;
    --tab-hover-color: #CCCCCC;
    --file-list-color: #E0E0E0;

    --folder-font-color:#1d1d1d;
}

.quill {
    box-sizing: border-box;
    height: 100%;
    border-radius: 15px;
}

.ql-toolbar.ql-snow {
    border: 1px solid #ccc;
    box-sizing: border-box;
    height: 10%;

}

.ql-container.ql-snow {
    height: 90%;
}

.ql-snow .ql-picker-label {
    cursor: pointer;
    display: inline-block;
    height: 100%;
    padding-left: 8px;
    padding-right: 2px;
    position: relative;
    width: 100%;
    color: #ccc;
}


.ql-snow .ql-formats {
    vertical-align: none;
}