.menu {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.frame {
    height: 85vh;
    width: 95%;
    border-radius: var(--curve_high);
}