.menu {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.frame {
    height: 80vh;
    width: 90%;
    background-color: aliceblue;
    border-radius: var(--curve_high);
}