.itemsSite {
    box-sizing: border-box;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fileList {
    box-sizing: border-box;
    width: 100%;
    height: 60%;
    background: var(--file-list-color);
    border: solid 2px #858585;
    border-radius: 15px
}

.fileDetails {

    box-sizing: border-box;
    width: 100%;
    height: 35%;
    background: var(--file-list-color);
    border: solid 2px #858585;
    border-radius: 15px;
    display: flex;
    overflow-y: scroll;
    padding-left: 0.25rem;
    padding-bottom: 0.25rem;
}
.fileDetails::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    /* Szerokość paska przewijania */
    appearance: none;
}

.fileDetails::-webkit-scrollbar-thumb {
    background-color: #818181af;
    /* Kolor paska przewijania */
    -webkit-appearance: none;
    border-radius: 5px;
    /* Zaokrąglenie paska przewijania */
    appearance: none;
}


.fileDetail {
    box-sizing: border-box;
    height: 100%;
    width: 50%;
}

.fileView {
    box-sizing: border-box;
    padding: 5%;
    height: 100%;
    width: 50%;
    border-right: solid 2px #858585;
}



@media only screen and (max-width: 800px) {

    .itemsSite {
        box-sizing: border-box;
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
    }

    .fileList {
        box-sizing: border-box;
        width: 100%;
        height: 45%;
        border: solid 2px #858585;
        border-radius: 15px
    }

    .fileDetails {
        box-sizing: border-box;
        width: 100%;
        height: 40%;
        background: var(--file-list-color);
        border-radius: 15px;
        display: flex;
    }

    .fileDetail {
        box-sizing: border-box;
        height: 100%;
        width: 45%;
    }

    .fileView {
        box-sizing: border-box;
        padding: 5%;
        height: 100%;
        width: 50%;
        border-right: solid 2px #858585;
    }

}

.szczegoly{
    display: flex;
    color: var( --folder-font-color);
    justify-content: space-between;
}
.detailUl{
    width: 100%;
    box-sizing: border-box;
    padding-right: 1rem;
    padding-left: 1rem;
}